{% for subheading in include.subheadings %}

<h{{ include.level }} {% if include.level == 2 %}id={{ subheading.name }} {% endif %}>
    {{ subheading.label }}
    {% if include.level == 2 %}
        {% capture direct_link %}{{ page.url }}#{{ subheading.name }}{% endcapture %}
        <a href={{ direct_link | relative_url }}>#</a>
    {% endif %}
</h{{ include.level }}>

    {% assign sub_level = include.level | plus: 1 %}
    {% include subheadings.html subheadings=subheading.subheadings level=sub_level %}
    {% for feature in subheading.features %}
        {% include feature_image.html feature=feature %}
    {% endfor %}

{% endfor %}

