---
layout: default
---

<h1>{{ page.label }}</h1>

{% for outcome in site.data.outcomes %}
    {% capture direct_link %}{{ page.url }}#{{ outcome.name }}{% endcapture %}
    <h2 id={{ outcome.name }}>{{ outcome.label }}<a href={{ direct_link | relative_url }}>#</a></h2>
    {% for year in site.data.years %}
        <h3>Year {{ year }}</h3>
        <div>
            {% capture image_file %}/assets/img/{{ outcome.graphs_location }}/g{{ year }}_1.png{% endcapture %}
            <img src={{ image_file | relative_url }}>
        </div>
    {% endfor %}
{% endfor %}

{{ content }}
